<form (ngSubmit)="savePassword()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{ title }}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field fxFlex="auto">
          <mat-label>New Password</mat-label>
            <input matInput formControlName="NewPassword"  type="password" required>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
      <mat-form-field  fxFlex="auto">
        <mat-label>Confirm Password</mat-label>
          <input matInput  formControlName="ConfirmPassword"  type="password" required>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" mat-button type="submit"  [disabled]="!form.valid">SAVE CHANGES</button>
  </mat-dialog-actions>
</form>

