<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <div [class.px-gutter]="'fullwidth'" class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <h1 class="title mt-0 mb-1">Super Admin</h1>
                <vex-breadcrumbs [crumbs]="['Admin','Admin Console']"></vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="'fullwidth'" class="-mt-6">
        <div class="card overflow-auto -mt-16 mb-10">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
              <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
                Recurring Jobs
              </h2>
             
    
              <span fxFlex></span>
      
              
            </div>
            <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort (matSortChange)="sortData($event)">
              <!-- Text Columns -->
              <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                  <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header> {{ column.label }}
                  </th>
                  <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                    <span matTooltip="{{row[column.property]}}">{{ row[column.property] }}</span>
                  </td>
                </ng-container>
              </ng-container>
      
              <!-- <ng-container matColumnDef="IsActive">
                <th class="uppercase th-text-bold" *matHeaderCellDef mat-header-cell mat-sort-header> STATUS </th>
                <td *matCellDef="let row" mat-cell>
                  <mat-slide-toggle (click)="$event.stopPropagation()" (change)="emitToggleStatus($event,row)"
                    [checked]="row['IsActive']" color="primary"></mat-slide-toggle>
                </td>
              </ng-container> -->
              
              <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
              <tr  *matRowDef="let row; columns: visibleColumns;" @fadeInUp
                class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
            </table>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0">
            </mat-paginator>
          </div>
    </vex-page-layout-content>
</vex-page-layout>
