<div fxLayout="row" fxLayoutAlign="start center" class="bg-app-bar px-6 h-16 border-b sticky left-0">
  <div>
      <h2 class="title my-0 leading-snug text-secondary textcgs">TimeSheet Notes</h2>
  </div>
  <div fxFlex="auto">
  </div>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="iconService.icClose"></mat-icon>
  </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<!-- <mat-dialog-content fxLayout="column" style="overflow: auto;">
  <div class="MsgList" id="wallmessages" class="ltr:ml-10 rtl:mr-10 mt-2">
    <div class="MsgItem" *ngFor="let comment of timesheetnotesData" class="mt-4">
      <div class="MsgIn" fxLayout="row" fxLayoutAlign="start center">
        <div>
          <div class="msg-by text-secondary">by {{comment.CommentBy}}</div>
          <div class="msg-date">{{comment.CreatedDate}} </div>
        </div>
      </div>
      <div class="msg-content" [innerHtml]="comment.Comment"></div>
    </div>

    <div class="mt-6" fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar w-8 h-8 ltr:mr-3 rtl:ml-3" fxFlex="none" src="assets/img/profile.png">
      <mat-form-field appearance="outline" class="vex-dense-form-field vex-flex-form-field" fxFlex="auto">
        <input [formControl]="commentCtrl" matInput placeholder="Write a comment ...">
        <button (click)="addComment()" class="-top-1" color="primary" mat-button matSuffix type="button">SUBMIT</button>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content> -->

<mat-dialog-content fxLayout="column">
  <div fxLayout="column" fxLayout.gt-sm="row" style="min-height: 500px;max-height:500px; overflow: auto;">
    <div class="border-l border-r" fxFlex="auto">
      <div class="MsgList" id="wallmessages" class="ltr:ml-10 rtl:mr-10 mt-2">
        <div class="MsgItem" *ngFor="let comment of timesheetnotesData" class="mt-4">
          <div class="MsgIn" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/img/profile.png" class="avatar h-8 w-8 ltr:mr-3 rtl:ml-3">
            <div>
              <div class="msg-by text-secondary">by {{comment.CommentBy}}</div>
              <div class="msg-date">{{comment.CreatedDate}} </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="comment-card">
            <div class="msg-content" fxFlex="80">
              <div [innerHtml]="comment.Comment"></div>
            </div>
          </div>
        </div>
        <div class="mt-6" fxLayout="row" fxLayoutAlign="start center">
          <img class="avatar w-8 h-8 ltr:mr-3 rtl:ml-3" fxFlex="none" src="assets/img/profile.png">
          <mat-form-field appearance="outline" class="vex-dense-form-field vex-flex-form-field" fxFlex="auto">

            <textarea id="incomment" [formControl]="commentCtrl" matInput placeholder="Write a comment ..."
              (keydown.enter)="handleEnter($event)" class="custom-textarea"></textarea>
            <mat-hint>Press Enter to go to the next line.</mat-hint>

            <button (click)="addComment()" [disabled]="isSubmitting" class="-top-1" color="primary" mat-button
              matSuffix type="button">SUBMIT
              <img *ngIf="isSubmitting" style="display: inherit;"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>