<div fxLayout="row" fxLayoutAlign="start center" class="bg-app-bar px-6 h-16 border-b sticky left-0">
  <div>
      <h2 class="title my-0 leading-snug text-secondary textcgs">Notes</h2>
  </div>
  <div fxFlex="auto">
  </div>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-dialog-content fxLayout="column">
  <div fxLayout="column" fxLayout.gt-sm="row" style="overflow: hidden;">
      <div class="border-l border-r" fxFlex="auto">
          <div class="MsgList" id="wallmessages" class="ltr:ml-10 rtl:mr-10 mt-2">
              <div class="MsgItem" *ngFor="let comment of benchscheduleNotes" class="mt-4">
                  <div class="MsgIn" fxLayout="row" fxLayoutAlign="start center">
                      <img src="assets/img/profile.png" class="avatar h-8 w-8 ltr:mr-3 rtl:ml-3">
                      <div>
                          <div class="msg-by text-secondary">by {{comment.CreatorName}}</div>
                          <div class="msg-date">{{comment.CreatedDate}} </div>
                      </div>
                  </div>

                  <div class="msg-content" [innerHtml]="comment.Comment"></div>
              </div>

              <div class="mt-6" fxLayout="row" fxLayoutAlign="start center">
                <img class="avatar w-8 h-8 ltr:mr-3 rtl:ml-3" fxFlex="none" src="assets/img/profile.png">
                <mat-form-field appearance="outline" class="vex-dense-form-field vex-flex-form-field" fxFlex="auto">
                  <input [formControl]="commentCtrl" matInput placeholder="Write a comment ..."  (keyup.enter)="addComment()">
                  <button (click)="addComment()" class="-top-1" color="primary" mat-button matSuffix type="button">SEND</button>
                </mat-form-field>
              </div>
          </div>
      </div>
  </div>
</mat-dialog-content>
  
