
  ::ng-deep cv-documents-add .mat-form-field-appearance-outline .mat-form-field-infix {
     padding: 1em 0 1em 0; 
}

::ng-deep cv-documents-add .mat-form-field-wrapper {
    padding-bottom: 0; 
}

::ng-deep cv-documents-add .mat-form-field {
    margin-bottom: 0px;
    margin-left: 2px;
}