.image_container {
    text-align: center;
    line-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
}

.image_container img {
    vertical-align: middle;
    max-width:100%;
    max-height:100%;
}

