<div>
  <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
      <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
        Applicant<span *ngIf="selection.selected.length > 1">s</span> selected</span>
    </h2>

    <div class="mr-2">
      <mat-icon [fontIcon]="filteredIcons" class="icon" fontSet="fa" height="12px" width="12px"
        style="color: #757a7f;font-size: 16px;;margin-top: 5px;"></mat-icon>
    </div>
    <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
      fxLayoutAlign="start center">
      <ic-icon [icIcon]="iconService.icSearch" size="20px"></ic-icon>
      <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
        placeholder="Search..." type="search">
    </div>

    <span fxFlex></span>

    <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
      <mat-icon [icIcon]="iconService.icSearch"></mat-icon>
    </button>

    <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 mr-4" fxFlex="none" mat-icon-button
      matTooltip="Filter Columns" type="button">
      <mat-icon [icIcon]="iconService.icFilterList"></mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between" style="overflow: auto;">
    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort (matSortChange)="sortData($event)">
      <!-- Text Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
          <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header> {{
            column.label }}
          </th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
            <span [matTooltip]="row[column.property]">{{row[column.property]|shorten:20}}</span>
          </td>
        </ng-container>
      </ng-container>


      <ng-container matColumnDef="ApplicantLocation">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>Applicant Location</th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
          <span class="rounded-full text-secondary font-medium locationbtn">
            <ic-icon [icon]="iconService.iclocationon" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="14px">
            </ic-icon>
            <span>{{row['ApplicantLocation']}}</span>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="WorkPermit">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>Work Permit</th>
        <td *matCellDef="let row" mat-cell>
          <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
            <span *ngIf="row['WorkPermit']" class="rounded-full text-secondary font-medium text-xs categorybtn">
              <span>{{row['WorkPermit']}}</span>
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="EmploymentType">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>Employment Type</th>
        <td *matCellDef="let row" mat-cell>
          <div (click)="$event.stopPropagation()" fxLayoutAlign="center center" fxLayoutGap="4px">
            <span *ngIf="row['EmploymentType']" class="rounded-full text-secondary font-medium text-xs categorybtn">
              <span>{{row['EmploymentType']}}</span>
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Resume">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell>RESUME</th>
        <td *matCellDef="let row" mat-cell>
          <div class="flex">
            <a (click)="$event.stopPropagation();ViewResume(row)"
              class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-primary bg-primary-light"
              [disabled]="!row['AttachedFilePath']" mat-icon-button>
              <mat-icon [icIcon]="iconService.icInsert_Drive_File" size="18px"
                [matTooltip]="!row['AttachedFilePath'] ? null : 'View Resume'">
              </mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Recruiter">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>Recruiter(s)</th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell (click)="$event.stopPropagation()">
          <div *ngIf="row.RecruiterList" fxLayout="row" fxLayoutAlign="center center">
            <a style="margin-right: -8px;" *ngFor="let person of row.RecruiterList" (click)="$event.stopPropagation()"
              class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-secondary font-medium bg-primary-light avatar overlapping"
              mat-icon-button>
              <span matTooltip="{{person.FullName}}"> {{person.ShortName}} </span>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Assignees">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header> Manager</th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell (click)="$event.stopPropagation()">
          <div *ngIf="row.AssigneeList" fxLayout="row" fxLayoutAlign="center center">
            <a style="margin-right: -8px;" *ngFor="let person of row.AssigneeList" (click)="$event.stopPropagation()"
              class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-secondary font-medium bg-primary-light avatar overlapping"
              mat-icon-button>
              <span matTooltip="{{person.FullName}}"> {{person.ShortName}} </span>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="ApplicantViews">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>Viewed</th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell (click)="$event.stopPropagation()">
          <div *ngIf="row.ViewedList" fxLayout="row" fxLayoutAlign="center center">
            <a style="margin-right: -8px;" *ngFor="let person of row.ViewedList"
              (click)="$event.stopPropagation()"
              class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-secondary font-medium bg-primary-light avatar overlapping"
              mat-icon-button>
              <span matTooltip="{{person.FullName}}"> {{person.ShortName}} </span>
            </a>
          </div>
        </td>
      </ng-container>

      <!--Status Column-->
      <ng-container matColumnDef="ApplicantStatusName">
        <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header> status</th>
        <td *matCellDef="let row" mat-cell>
          <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
            <span *ngIf="row['ApplicantStatus']===2 || row['ApplicantStatus']===3"
              class="rounded px-2 py-1 font-medium text-xs text-amber bg-amber-light">
              {{row['ApplicantStatusName']}}
            </span>
            <span *ngIf="row['ApplicantStatus']===4 || row['ApplicantStatus']===5"
              class="rounded px-2 py-1 font-medium text-xs text-green bg-green-light">
              {{row['ApplicantStatusName']}}
            </span>
            <span *ngIf="row['ApplicantStatus']===6 || row['ApplicantStatus']===7"
              class="rounded px-2 py-1 font-medium text-xs text-red bg-red-light">
              {{row['ApplicantStatusName']}}
            </span>
            <span *ngIf="row['ApplicantStatus']===1"
              class="rounded px-2 py-1 font-medium text-xs text-gray bg-gray-light">
              {{row['ApplicantStatusName']}}
            </span>
            
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Notes">
        <th *matHeaderCellDef class="uppercase th-text-bold text-center" mat-header-cell>Notes</th>
        <td *matCellDef="let row" mat-cell>
          <div class="flex">
            <a (click)="$event.stopPropagation();ViewNotes(row);"
              class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-primary bg-primary-light"
              mat-icon-button>
              <mat-icon [icIcon]="iconService.icComment" size="18px" matTooltip="Applicant Notes">
              </mat-icon>
              <span *ngIf="row['NotesCount']>0" class="box-text">{{row['NotesCount']}}</span>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th *matHeaderCellDef class="uppercase th-text-bold text-center" mat-header-cell>Actions</th>
        <td *matCellDef="let row" mat-cell>
          <div class="flex" *ngxPermissionsOnly="['ACTION_EDIT_APPLICANT']">
            <a (click)="$event.stopPropagation();BackToInbox(row)"
              class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-primary bg-primary-light"
              mat-icon-button>
              <mat-icon [icIcon]="iconService.icsettings_backup_restore" size="18px" [matTooltip]="'Back To inbox'">
              </mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr (click)="ViewApplicant(row)" *matRowDef="let row; columns: visibleColumns;" @fadeInUp
        class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0">
    </mat-paginator>
  </div>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>