<div (mouseenter)="showButton = true"
     (mouseleave)="showButton = false"
     class="card p-4 relative hover:shadow-16 trans-shadow">
  <!-- <div [ngClass]="iconClass" class="rounded-full w-12 h-12 flex items-center justify-center">
    <mat-icon [icIcon]="icon"></mat-icon>
  </div> -->
  
  <div fxLayout="column" fxLayoutAlign="start center">
    <h2 class="display-2 font-bold mt-4 mb-2 text-primary">{{ Totalvalue }}</h2>
    <h3 class="subheading-2 font-medium text-secondary m-0 text">{{ Totallabel }}</h3>
  </div>
  

  <div class="p-3" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutAlign="start center">
      <h2 class="headline font-bold m-0 text-orange">{{ Subvalue1 }}</h2> 
      <h3 class="subheading-2 font-medium text-secondary m-0 text">{{ Sublabel1 }}</h3>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center">
      <h2 class="headline font-bold m-0 text-blue">{{ Subvalue2 }}</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 text">{{ Sublabel2 }}</h3>
    </div>
     
    <div *ngIf="Is3Columns" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="headline font-bold m-0">{{ Subvalue3 }}</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 text">{{ Sublabel3 }}</h3>
    </div>

  </div>
 
</div>


