<div fxLayout="row" fxLayoutAlign="start center" class="bg-app-bar px-6 h-16 border-b sticky left-0" mat-dialog-title>
    <h2 class="title my-0 leading-snug text-secondary textcgs" fxFlex="auto">{{InputData.mode}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="iconService.icClose"></mat-icon>
    </button>
</div>
<mat-dialog-content class="confirm pl-tabs" fxLayout="column" style="overflow: auto;">
    <div class="row" fxLayout="row" style="overflow:auto">
        <div class="column-1 box">
            <div class="p-gutter container">
                <div class="card">
                    <form role="form" [formGroup]="QuickSubmitForm">
                        <div *ngIf="QuickSubmitForm.get('JobDescription').hasError('required') && QuickSubmitForm.get('JobDescription').touched">
                            <span style="color: red;">Job Description is required</span>
                          </div>
                        <quill-editor [required]="true" class="content-editor" formControlName="JobDescription"
                            [placeholder]="'Job Description(*)'" [styles]="{'min-height': '900px'}" [modules]="modules"
                            class="content-editor" (onEditorCreated)="EditorCreated($event)"
                            (onContentChanged)="contentChanged($event)" [(ngModel)]="job.JobDescription">
                        </quill-editor>
                    </form>
                </div>
            </div>
        </div>
        <div class="column-2 box">
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="pl-4">
                            <ic-icon [icon]="iconService.icInfo" inline="true"></ic-icon> Job Details
                        </span>
                    </ng-template>
                    <form role="form" [formGroup]="QuickSubmitForm">

                        <div class="mt-5" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                            <div @fadeInUp class="card" fxFlex="auto">

                                <div class="px-6 py-4" fxLayout="column">
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto"
                                            color="primary">
                                            <mat-label>Job Title</mat-label>
                                            <input cdkFocusInitial formControlName="JobTitle" matInput required
                                                id="JobTitle" name="JobTitle" [ngModel]="job.JobTitle | titlecase"
                                                (ngModelChange)="job.JobTitle=$event">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto"
                                            color="primary">
                                            <mat-label>Job Id</mat-label>
                                            <input [class.readonly-input]="IsJobIdReadonly" [readonly]="IsJobIdReadonly"
                                                formControlName="UniqueJobId" matInput required id="UniqueJobId"
                                                name="UniqueJobId" [(ngModel)]="job.UniqueJobId">
                                        </mat-form-field>

                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-checkbox *ngIf="InputData.mode !='Edit Job'" id="JobIdAutoGenerated"
                                            formControlName="JobIdAutoGenerated" id="JobIdAutoGenerated"
                                            [(ngModel)]="IsJobIdAutoGenerated"
                                            (change)="ChangeAutoGenerate($event)">Auto Generate a Job Id
                                        </mat-checkbox>
                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Job Mode</mat-label>
                                            <mat-select formControlName="SelectedJobMode" [(ngModel)]="SelectedJobMode"
                                                (selectionChange)="JobModeChange($event.value)">
                                                <mat-option [value]="'Remote'">Remote</mat-option>
                                                <mat-option [value]="'OnSite'">On Site</mat-option>
                                                <mat-option [value]="'Hybrid'">Hybrid</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100%" fxLayout="row" *ngIf="job.JobLocationType != 'Remote'">
                                        <cv-google-place style="display:contents;"
                                            (setAddress)="getAssignAddress($event)"
                                            (inputAddress)="inputAssignAddress($event)"
                                            [required]="true"
                                            selectedAddress="{{job.Location}}" adressType="(cities)" InputMode="Add">
                                        </cv-google-place>
                                        <input type="hidden" formControlName="Location">
                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Visa Sponsorship</mat-label>
                                            <mat-select formControlName="VisaSponsor" [(ngModel)]="job.VisaSponsorship">
                                                <mat-option [value]="true">Yes</mat-option>
                                                <mat-option [value]="false">No</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>
                                <mat-divider></mat-divider>
                                <div class="px-6 py-4" fxLayout="column">
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Select Type</mat-label>
                                            <mat-select formControlName="SelectedType" [(ngModel)]="SelectedType"
                                                (selectionChange)="OnRequirementChange($event.value)">
                                                <mat-option [value]="2">Direct / Internal</mat-option>
                                                <mat-option [value]="3">Contract / C2C</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100%" fxLayout="row">

                                        <mat-form-field *ngIf="SelectedType==2" appearance="outline"
                                            class="vex-flex-form-field flex-auto">
                                            <mat-label>Job Type</mat-label>
                                            <mat-select formControlName="JobTypeID" [(ngModel)]="job.JobTypeID">
                                                <mat-option [value]="1">Full-time</mat-option>
                                                <mat-option [value]="3">Part-time</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <div *ngIf="SelectedType==3" class="px-6 py-4" fxLayout="column">
                                            <section style="padding: 5px 0px;clear: both;" fxFlex="100">
                                                <mat-checkbox (change)="OnContractTypeChanged($event,'C2C')"
                                                    class="mr-4 ml-4" id="C2C" formControlName="C2C"
                                                    [(ngModel)]="IsC2C">C2C
                                                </mat-checkbox>
                                                <mat-checkbox (change)="OnContractTypeChanged($event,'W2')"
                                                    class="mr-4 ml-4" id="W2" formControlName="W2" [(ngModel)]="IsW2">W2
                                                </mat-checkbox>
                                                <mat-checkbox (change)="OnContractTypeChanged($event,'CTH')"
                                                    class="mr-4 ml-4" id="CTH" formControlName="CTH"
                                                    [(ngModel)]="IsCTH">CTH
                                                </mat-checkbox>
                                                <span class="required">(*)</span>
                                            </section>
                                            <input type="hidden" formControlName="JcType">

                                        </div>
                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field *ngIf="SelectedType==3" appearance="outline"
                                            class="vex-flex-form-field flex-auto">
                                            <mat-label> Contract Length (Months) 
                                                <span class="required">*</span>
                                              </mat-label>
                                            <input formControlName="JobDurtionMonths" type="number" min="0" max="24"
                                                [(ngModel)]="job.DurationInMonths" appearance="outline" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="px-6 py-4" fxLayout="column">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Salary Type</mat-label>
                                        <mat-select formControlName="SalaryType" [(ngModel)]="SalaryType"
                                            (selectionChange)="onSalaryTypeChange($event.value)">
                                            <mat-option [value]="3">Annual</mat-option>
                                            <mat-option [value]="1">Hourly</mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" class="flex-auto">
                                        <mat-label>Salary Value Type</mat-label>
                                        <mat-select name="salaryRangeType" formControlName="salaryRangeType"
                                            id="salaryRangeType" [(ngModel)]="salaryRangeType"
                                            (change)="OnsalaryRangeTypeChanged()">
                                            <mat-option [value]="1">Range</mat-option>
                                            <mat-option [value]="2">Exact</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="salaryRangeType==1 && SalaryType==3" fxFlex="50" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Min Salary</mat-label>
                                            <mat-select name="MinSalary" formControlName="MinSalary" id="MinSalary"
                                                [(ngModel)]="job.MinSalary">
                                                <mat-option [value]="'$40,000'">$40,000</mat-option>
                                                <mat-option [value]="'$60,000'">$60,000</mat-option>
                                                <mat-option [value]="'$80,000'">$80,000</mat-option>
                                                <mat-option [value]="'$100,000'">$100,000</mat-option>
                                                <mat-option [value]="'$120,000'">$120,000</mat-option>
                                                <mat-option [value]="'$140,000'">$140,000</mat-option>
                                                <mat-option [value]="'$160,000'">$160,000</mat-option>
                                                <mat-option [value]="'$180,000'">$180,000</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Max Salary</mat-label>
                                            <mat-select name="MaxSalary" formControlName="MaxSalary" id="MaxSalary"
                                                [(ngModel)]="job.MaxSalary">
                                                <mat-option [value]="'$40,000'">$40,000</mat-option>
                                                <mat-option [value]="'$60,000'">$60,000</mat-option>
                                                <mat-option [value]="'$80,000'">$80,000</mat-option>
                                                <mat-option [value]="'$100,000'">$100,000</mat-option>
                                                <mat-option [value]="'$120,000'">$120,000</mat-option>
                                                <mat-option [value]="'$140,000'">$140,000</mat-option>
                                                <mat-option [value]="'$160,000'">$160,000</mat-option>
                                                <mat-option [value]="'$180,000'">$180,000</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    <div *ngIf="salaryRangeType==1 && SalaryType==1" fxFlex="50" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Min Salary</mat-label>
                                            <mat-select name="MinSalary" formControlName="MinSalary" id="MinSalary"
                                                [(ngModel)]="job.MinSalary">
                                                <mat-option [value]="'$40'">$40</mat-option>
                                                <mat-option [value]="'$50'">$50</mat-option>
                                                <mat-option [value]="'$60'">$60</mat-option>
                                                <mat-option [value]="'$70'">$70</mat-option>
                                                <mat-option [value]="'$80'">$80</mat-option>
                                                <mat-option [value]="'$90'">$90</mat-option>
                                                <mat-option [value]="'$100'">$100</mat-option>
                                                <mat-option [value]="'$110'">$110</mat-option>
                                                <mat-option [value]="'$120'">$120</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Max Salary</mat-label>
                                            <mat-select name="MaxSalary" formControlName="MaxSalary" id="MaxSalary"
                                                [(ngModel)]="job.MaxSalary">
                                                <mat-option [value]="'$40'">$40</mat-option>
                                                <mat-option [value]="'$50'">$50</mat-option>
                                                <mat-option [value]="'$60'">$60</mat-option>
                                                <mat-option [value]="'$70'">$70</mat-option>
                                                <mat-option [value]="'$80'">$80</mat-option>
                                                <mat-option [value]="'$90'">$90</mat-option>
                                                <mat-option [value]="'$100'">$100</mat-option>
                                                <mat-option [value]="'$110'">$110</mat-option>
                                                <mat-option [value]="'$120'">$120</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    <div *ngIf="salaryRangeType==2" fxFlex="50" fxLayout="row">
                                        <mat-form-field appearance="outline" class="vex-flex-form-field flex-auto">
                                            <mat-label>Salary</mat-label>
                                            <input [(ngModel)]="job.MaxSalary" formControlName="MaxSalary" matInput
                                                name="MaxSalary">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="px-6 py-4" fxLayout="column">
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100">
                                            <mat-label>Contact Person</mat-label>
                                            <input required [formControl]="ReviweAssigneeCtrl"
                                                [matAutocomplete]="pocauto" [(ngModel)]="AssigneName" matInput>
                                            <mat-autocomplete #pocauto="matAutocomplete">
                                                <mat-option *ngFor="let assign of filteredOptions | async"
                                                    [value]="assign.FullName" [id]="assign.value"
                                                    (onSelectionChange)="onSelFunc(assign)">
                                                    <span class="body-1">{{ assign.FullName }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error
                                                *ngFor="let validation of validation_msgs.phoneLabelAutocompleteControl">
                                                <div *ngIf="ReviweAssigneeCtrl.hasError(validation.type)">
                                                    {{validation.message}}
                                                </div>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div fxFlex="100%" fxLayout="row">
                                        <mat-form-field appearance="outline" fxFlex="100" class="flex-auto">
                                            <mat-label>End Client</mat-label>
                                            <input [formControl]="EndClientControl" [matAutocomplete]="ecauto"
                                                [ngModel]="endClientAccount.AccountName | titlecase"
                                                (ngModelChange)="endClientAccount.AccountName=$event" matInput>
                                            <mat-autocomplete #ecauto="matAutocomplete"
                                                (optionSelected)="SeelectedAccount($event,'end')">
                                                <mat-option *ngFor="let client of EndClientOptions | async"
                                                    [value]="client.AccountName" [id]="client.AccountID">
                                                    <span class="body-1">{{ client.AccountName }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                    </div>

                                </div>
                                <mat-divider></mat-divider>
                                <div class="px-6 py-4" fxLayout="column">
                                    <cv-skills-autocomplete [existingSkills]="SelectedPrimarySkills" [IsPrimary]="false"
                                    [Isrequired]="true" (out_selectedSkills)="GetPrimarySkills($event)"></cv-skills-autocomplete>
                                    <input type="hidden" formControlName="PrimarySkills">
                                </div>

                            </div>
                        </div>

                    </form>
                </mat-tab>
                <mat-tab >
                    <ng-template mat-tab-label>
                        <span class="pl-4">
                            <ic-icon [icon]="iconService.icInfo" inline="true"></ic-icon> Job Notes
                        </span>
                    </ng-template>
                    <cv-job-notes *ngIf="(IsNotes===true && job.JobID!=0)" [JobId]="job.JobID"></cv-job-notes>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</mat-dialog-content>

<mat-dialog-footer>
    <div *ngIf="isSummary===true" fxLayout="row" class="mt-4" fxLayoutAlign="end center">
        <div fxFlex="100" fxFlex.gt-xs="100" class="flex flex-col sm:flex-row" fxLayoutAlign="end">
            <button class="mr-2" mat-button mat-dialog-close type="button">CANCEL</button>
            <button color="primary" mat-raised-button type="button"
                [disabled]="!(QuickSubmitForm.valid) || !QuickSubmitForm.dirty || !IsPageDirty"
                (click)="save()">SAVE</button>
        </div>
    </div>
</mat-dialog-footer>