<div  fxLayout="row" fxLayoutAlign="start center" class="bg-app-bar px-6 h-16 border-b sticky left-0"
    mat-dialog-title>
    <div>
        <h2 *ngIf="currentApplicant.FirstName" class="title my-0 leading-snug text-secondary textcgs">
            {{currentApplicant.FirstName +"
            "+currentApplicant.LastName}}</h2>
    </div>

    <span fxFlex></span>
    <ng-container class="mr-4">
        <div *ngIf="currentApplicant.ResponseId!=0" (click)="$event.stopPropagation()" fxLayoutAlign="start center"
            fxLayoutGap="4px">
            <span [ngClass]="[currentApplicant?.bgClass || 'default-class']"
                class="rounded px-2 py-1 font-medium text-xs">
                {{currentApplicant.ApplicantStatusName}}
            </span>

            <div (click)="labelSelect.open()" class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover"
                fxFlex="none" fxLayout="row" fxLayoutAlign="center center">
                <ic-icon [icon]="iconService.icEdit" size="18px"></ic-icon>
            </div>

            <mat-select #labelSelect="matSelect" (selectionChange)="onLabelChange($event)"
                class="invisible w-0 h-0 text-sm" fxFlex="0 1 0px">
                <mat-option *ngFor="let label of EditApplicantStatusList" [value]="label">
                    <div [ngClass]="label.bgdisplay"
                        class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block">
                    </div>
                    <span>{{ label.StatusName }}</span>
                </mat-option>
            </mat-select>
        </div>
    </ng-container>
    <button *ngIf="currentApplicant.ResponseId!=0" class="mr-2" [matMenuTriggerFor]="actionsMenu" color="primary"
        mat-raised-button type="button">Actions
        <ic-icon [icon]="iconService.icArrowDropDown" class="ltr:-mr-1 rtl:-ml-1" inline="true"></ic-icon>
    </button>
    <button class="text-secondary" mat-icon-button type="button" (click)="viewClose()">
        <mat-icon [icIcon]="iconService.icClose"></mat-icon>
    </button>
    <!-- <button *ngIf="SelectedSource=='submissions'" (click)="onBackToSubmisssions()" class="ml-4" color="primary"
        fxFlex="none" mat-mini-fab matTooltip="Back To Submissions List" type="button">
        <mat-icon [icIcon]="iconService.icBack"></mat-icon>
    </button> -->
</div>
<div *ngIf="fileUploadLoading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<mat-dialog-content class="confirm pl-tabs" fxLayout="column" style="overflow: auto;">
    <div class="row" fxLayout="row" style="overflow:auto">
        <div class="column-1 box">
            <div fxLayout="row" fxLayoutAlign="start center" class="ml-2 pb-1 pt-1" fxLayoutGap="10">
                <span fxFlex></span>
                <input id="attachR" type="file" (change)="onChange($event)" style="display:none;" #fileInput />
                <a color="primary" mat-icon-button color="primary" (click)="fileInput.click()"
                    class="btnnewlog"><strong>
                        <mat-icon style="margin-bottom: -6px;" matTooltip="Upload New Resume"
                            [icIcon]="iconService.icfileupload"></mat-icon>
                    </strong></a>
                <button mat-icon-button color="primary" (click)="downloadResume()">
                    <mat-icon matTooltip="Download Resume">cloud_download</mat-icon>
                </button>
            </div>

            <div *ngIf="currentApplicant.AttachedFilePath" fxLayout="row" style="max-height: 200vh;">
                <ngx-doc-viewer [url]="currentApplicant.AttachedFilePath" googleCheckContentLoaded="true"
                    googleCheckInterval=3000 googleMaxChecks=5 viewer="google" (loaded)="contentLoaded()"
                    style="width:100%;height: 160vh;" disableContent="none">
                </ngx-doc-viewer>
            </div>
            <div *ngIf="!currentApplicant.AttachedFilePath" fxLayout="row" fxLayoutAlign="center center">
                <h3 class="mt-8 text-secondary">Resume is not available for this candidate</h3>
            </div>
        </div>
        <div  class="column-2 box">
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="pl-4">
                            <ic-icon [icon]="iconService.icInfo" inline="true"></ic-icon> Applicant Details
                        </span>
                    </ng-template>
                    <form [formGroup]="addForm">
                        <div @fadeInUp class="mt-4">
                            <div>
                                <cv-skills-autocomplete [existingSkills]="selectedKeywords"
                                    (out_selectedSkills)="GetSelectedSkills($event)"></cv-skills-autocomplete>
                            </div>

                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field class="example-chip-list" fxFlex="100">
                                    <mat-label>HashTags</mat-label>
                                    <mat-chip-list multiple id="chipList" [selectable]="true">
                                        <mat-chip *ngFor="let chip of hashtags" [selected]="chip.state"
                                            (click)="chip.state=!chip.state;HashTagschangeSelected('s', chip.HashTagId)">
                                            {{chip.HashTagText}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" class="mt-4" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
                                    <mat-label>Job Title</mat-label>
                                    <input formControlName="jobtitle" matInput>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>First Name</mat-label>
                                    <input formControlName="firstName" matInput required>
                                    <mat-error
                                        *ngIf="addForm.get('firstName').invalid && addForm.get('firstName').touched">
                                        First Name is required and must be alphabetic.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Last Name</mat-label>
                                    <input formControlName="lastName" matInput required>
                                    <mat-error
                                        *ngIf="addForm.get('lastName').invalid && addForm.get('lastName').touched">
                                        Last Name is required and must be alphabetic.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" [value]="addForm.get('email').value | lowercase"
                                        matInput required>
                                    <mat-error *ngIf="addForm.get('email').invalid && addForm.get('email').touched">
                                        Enter a valid email address.
                                    </mat-error>
                                    <mat-error *ngIf="addForm.get('email').hasError('duplicateEmail')">
                                        This email is already in use.
                                      </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Phone Number</mat-label>
                                    <input formControlName="phone" [value]="formattedPhone" matInput>
                                    <mat-error *ngIf="addForm.get('phone').invalid && addForm.get('phone').touched">
                                        Enter a valid phone number.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>DOB:(MM/DD)</mat-label>
                                    <input [(ngModel)]="currentApplicant.DOB" [ngModel]="currentApplicant.DOB"
                                        [textMask]="{mask: datemask}" formControlName="DOB" matInput name="DOB">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Last 4 Digit of SSN</mat-label>
                                    <input [(ngModel)]="currentApplicant.SSN" formControlName="SSN" matInput
                                        name="lname">
                                    <mat-error *ngIf="addForm.get('SSN').invalid && addForm.get('SSN').touched">
                                        Invalid SSN format.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <div fxFlex="100" fxFlex.gt-xs="50" class="flex-auto">
                                    <cv-google-place style="display:contents;" (setAddress)="getAssignAddress($event)"
                                        (inputAddress)="inputAssignAddress($event)"
                                        selectedAddress="{{currentApplicant.ApplicantLocation}}" adressType="(cities)"
                                        InputMode="Edit">
                                    </cv-google-place>
                                </div>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>LinkedIn</mat-label>
                                    <input [(ngModel)]="currentApplicant.LinkedIn" formControlName="LinkedIn" matInput
                                        name="lname">
                                    <mat-error
                                        *ngIf="addForm.get('LinkedIn').invalid && addForm.get('LinkedIn').touched">
                                        Enter a valid LinkedIn URL.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Availability to join the Project</mat-label>
                                    <mat-select name="Availability_To" id="Availability_To"
                                        formControlName="AvailabilityToJoin">
                                        <mat-option value="Immediately">Immediately</mat-option>
                                        <mat-option value="2 Weeks from confirmation">2 Weeks from
                                            confirmation</mat-option>
                                        <mat-option value="1 Month from confirmation">1 Month from
                                            confirmation</mat-option>
                                        <mat-option value="6 weeks from confirmation"> 6 weeks from confirmation
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Work Permit</mat-label>
                                    <mat-select formControlName="wpermit" name="WorkPermit"
                                        [(ngModel)]="currentApplicant.WorkPermit" id="WorkPermit">
                                        <mat-option *ngFor="let work of workStatuFields" [value]="work.value">
                                            {{work.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50" floatLabel="always">
                                    <mat-label>Technical Skills Rating</mat-label>
                                    <cv-half-star-rating [RatingType]="'TECH'"
                                        [Techrating]="currentApplicant.TechnicalSkillRating"
                                        (out_TechRating)="onRatingChange($event)"></cv-half-star-rating>
                                    <input hidden formControlName="SkillRating" matInput>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50" floatLabel="always">
                                    <mat-label>Communication Skills Rating</mat-label>
                                    <cv-comm-star-rating [RatingType]="'COMM'"
                                        [Commrating]="currentApplicant.CommunicationSkillRating"
                                        (out_CommRating)="onCommRatingChange($event)"></cv-comm-star-rating>
                                    <input hidden formControlName="CommRating" matInput>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Pay Rate</mat-label>
                                    <input type="number" formControlName="PayRate" matInput min="0" max="1000"
                                        oninput="validity.valid||(value='');">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Employment Type</mat-label>
                                    <mat-select name="workCategory" formControlName="workCategory" id="workCategory">
                                        <mat-option [value]="'C2C'">C2C</mat-option>
                                        <mat-option [value]="'W2'">W2</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="currentApplicant.EmploymentType==='C2C'">
                                <mat-error
                                    *ngIf="addForm.get('subVendorInfo').invalid && addForm.get('subVendorInfo').touched">
                                    Sub Vendor Information is Required.
                                </mat-error>
                                <cv-candidate-sub-vendor *ngIf="currentApplicant.EmploymentType==='C2C'"
                                    [canSubvendorAccount]="cansubVClientAccount"
                                    (out_candsubvendor)="GetCandSubVendorData($event)">
                                </cv-candidate-sub-vendor>
                                <input type="hidden" formControlName="subVendorInfo" />
                            </div>
                        </div>
                    </form>
                    <mat-divider></mat-divider>
                    <mat-error *ngIf="showReferencesError">
                        Please fill the references.
                    </mat-error>
                    <cv-job-applicant-references [IsMandatory]="appReferences_Mandatory"
                        [IsReadonly]="appReferences_Readonly" [reference1]="reference1" [reference2]="reference2"
                        (out_Reference1)="UpdateReference1($event)" (out_Reference2)="UpdateReference2($event)"
                        (reference1_formValidityChanged)="onReference1FormValidity($event)"
                        (reference2_formValidityChanged)="onReference2FormValidity($event)">
                    </cv-job-applicant-references>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="pl-4">
                            <ic-icon [icon]="iconService.icnote" inline="true"></ic-icon> Applicant Notes
                        </span>
                    </ng-template>
                    <div>
                        <cv-applicant-notes *ngIf="(isnotes===true && currentApplicant.ResponseId!=0)"
                            [applicantId]="currentApplicant.ResponseId"></cv-applicant-notes>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-dialog-content>
<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-footer>
    <div *ngIf="isSummary" fxLayout="row" class="mt-4" fxLayoutAlign="end center">
        <div fxFlex="50" fxFlex.gt-xs="50" class="flex flex-col sm:flex-row" fxLayoutAlign="start">
            <span>Viewed by :</span>
            <a style="margin-right: -8px;" *ngFor="let person of currentApplicant.ViewedList"
                (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-secondary font-medium bg-primary-light avatar overlapping"
                mat-icon-button>
                <span matTooltip="{{person.FullName}}"> {{person.ShortName}} </span>
            </a>
        </div>
        <div fxFlex="50" fxFlex.gt-xs="50" class="flex flex-col sm:flex-row" fxLayoutAlign="end">
            <button class="mr-2" mat-button type="button" (click)="clearFields()">RESET</button>
            <button color="primary" mat-raised-button type="button" (click)="updateApplicant()">{{submitButtonTitle}}</button>
            <!-- <button color="primary"
                [disabled]="!c2cFormValid || !reference1FormValid || !reference2FormValid || addForm.invalid || (!addForm.dirty && !IsPageDirty )"
                mat-raised-button type="button" (click)="updateApplicant()">{{submitButtonTitle}}</button> -->
        </div>
    </div>
</mat-dialog-footer>

<mat-menu #actionsMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <div *ngIf="SelectedSource!='Ignored'">
        <span *ngIf="currentApplicant.RecruiterId===null">
            <button [disabled]="IsAssigneeToMySelf==true" (click)="$event.stopPropagation();AssignMyselfApplicant()"
                mat-menu-item>
                <mat-icon [icIcon]="iconService.icPersonAdd" size="18px" [matTooltip]="'Assign Recruiter'">
                </mat-icon><span>Assign to MySelf</span>
            </button>
        </span>
        <span>
            <button (click)="AssignApplcant()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icPersonAdd" size="18px" [matTooltip]="'Assign Recruiter'">
                </mat-icon><span>Assign Recruiter</span>
            </button>
        </span>
        <span>
            <button [disabled]="currentApplicant.AssignId!=null" (click)="ReviewApplcant()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icratereview" size="18px" [matTooltip]="'Send for Review'">
                </mat-icon><span>Send for Review</span>
            </button>
        </span>
        <span>
            <button (click)="IgnoreApplicant()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icDelete" size="18px" [matTooltip]="'Ignore Applicant'">
                </mat-icon><span>Ignore Applicant</span>
            </button>
        </span>
        <span>
            <button (click)="ShareApplcant()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icShare" size="18px" [matTooltip]="'Share Applicant'">
                </mat-icon><span>Share Applicant</span>
            </button>
        </span>
        <span>
            <button [disabled]="currentApplicant.CandidateMasterId!=null" (click)="SaveToDB()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icPerson" size="18px" [matTooltip]="'Save to Database'">
                </mat-icon><span>Save to Database</span>
            </button>
        </span>
        <span>
            <button (click)="AssignForTechScreen()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icShare" size="18px" [matTooltip]="'Move to Tech-Screen'">
                </mat-icon><span>Move to Tech-Screen</span>
            </button>
        </span>
        <span>
            <button (click)="AssignForMarketing()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icShare" size="18px" [matTooltip]="'Move to Marketing'">
                </mat-icon><span>Move to Marketing</span>
            </button>
        </span>
    </div>

    <div *ngIf="SelectedSource=='Ignored'">
        <span>
            <button (click)="BackToInbox()" mat-menu-item>
                <mat-icon [icIcon]="iconService.icsettings_backup_restore" size="18px" [matTooltip]="'Back To inbox'">
                </mat-icon><span>Back To inbox</span>
            </button>
        </span>
    </div>

</mat-menu>