
<div fxLayout="row" fxLayoutAlign="end center" mat-dialog-title style="margin: 0px !important;">
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button" style="bottom: 12px;">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>
<div id="vr_progressBar"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<mat-dialog-content fxLayout="column" style="max-height:81vh">
    <div *ngIf="SelectedCandidate.ViewResumeInnerPath" fxLayout="row">
        <ngx-doc-viewer 
        [url]="SelectedCandidate.ViewResumeInnerPath" 
        googleCheckContentLoaded="true"
        googleCheckInterval = 3000
        googleMaxChecks = 5 
        viewer="google" 
        (loaded)="contentLoaded()"
        style="width:100%;height:80vh;"
        disableContent="none">
        </ngx-doc-viewer>
      </div>
</mat-dialog-content>