<div fxLayout="row" fxLayoutAlign="start center" class="bg-app-bar px-6 h-16 border-b sticky left-0" mat-dialog-title>
    <div>
        <h2 class="title my-0 leading-snug text-secondary textcgs">Add Candidate</h2>
    </div>
    <span fxFlex></span>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<div *ngIf="fileUploadLoading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<mat-dialog-content class="confirm pl-tabs" fxLayout="column" style="overflow: auto;">
    <div class="row" fxLayout="row">
        <div class="column-1 box">
            <div fxLayout="row" fxLayoutAlign="start center" class="ml-2 pb-1 pt-1" fxLayoutGap="10">
                <span fxFlex></span>
                <input id="attachR" type="file" (change)="onChange($event)" style="display:none;" #fileInput />
                <a color="primary" mat-icon-button color="primary" (click)="fileInput.click()"
                    class="btnnewlog"><strong>
                        <mat-icon style="margin-bottom: -6px;" matTooltip="Upload New Resume"
                            [icIcon]="icFileUpload"></mat-icon>
                    </strong></a>
                <button mat-icon-button color="primary" (click)="downloadResume()">
                    <mat-icon matTooltip="Download Resume">cloud_download</mat-icon>
                </button>
            </div>
            
            <div *ngIf="benchCandidates.ViewResumeInnerPath" fxLayout="row" style="max-height: 200vh;">
                <ngx-doc-viewer [url]="benchCandidates.ViewResumeInnerPath" googleCheckContentLoaded="true"
                    googleCheckInterval=3000 googleMaxChecks=5 viewer="google" (loaded)="contentLoaded()"
                    style="width:100%;height: 180vh;" disableContent="none">
                </ngx-doc-viewer>
            </div>

            <div *ngIf="!benchCandidates.ViewResumeInnerPath" fxLayout="row" fxLayoutAlign="center center">
                <h3 class="mt-8 text-secondary">Resume is not available for this candidate</h3>
            </div>
        </div>
        <div class="column-2 box">
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="pl-4">
                            <ic-icon [icon]="icInfo" inline="true"></ic-icon> Candidate Details
                        </span>
                    </ng-template>
                    <form [formGroup]="addForm">
                        <div @fadeInUp class="overflow-auto">
                            <div fxLayout="row" class="mt-4" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
                                    <mat-label>Job Title</mat-label>
                                    <input [ngModel]="benchCandidates.Title | titlecase" formControlName="title"
                                        matInput required (ngModelChange)="benchCandidates.Title=$event">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Candidate First Name</mat-label>
                                    <input [ngModel]="benchCandidates.FirstName | titlecase" formControlName="firstName"
                                        matInput required name="fname" id="fname"
                                        (ngModelChange)="benchCandidates.FirstName=$event" TrimInput>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Candidate Last Name</mat-label>
                                    <input [ngModel]="benchCandidates.LastName | titlecase" formControlName="lastName"
                                        matInput required name="lname" (ngModelChange)="benchCandidates.LastName=$event"
                                        TrimInput>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Phone</mat-label>
                                    <input [(ngModel)]="benchCandidates.PrimaryPhoneNumber"
                                        (keypress)="onInputKeyPress($event)" (change)="onPhoneNumberChange()"
                                        formControlName="phone" matInput required name="phone">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Email</mat-label>
                                    <input [(ngModel)]="benchCandidates.CandidateEmail" formControlName="email" matInput
                                        required name="email" TrimInput (blur)="CheckCandidateByEmail()" #FieldEmail>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>DOB:(MM/DD)</mat-label>
                                    <input [(ngModel)]="benchCandidates.DOB" [ngModel]="benchCandidates.DOB"
                                        [textMask]="{mask: datemask}" formControlName="DOB" matInput name="lname">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Last 4 Digit of SSN</mat-label>
                                    <input [(ngModel)]="benchCandidates.SSN" formControlName="SSN" matInput
                                        name="lname">

                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Work Experience</mat-label>
                                    <input [(ngModel)]="benchCandidates.ExperienceYears" formControlName="wexperience"
                                        matInput name="wexperience">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Work Permit</mat-label>
                                    <mat-select required formControlName="wpermit" name="WorkStatus"
                                        [(ngModel)]="benchCandidates.WorkStatus" id="WorkStatus">
                                        <mat-option *ngFor="let work of workStatusFields" [value]="work.value">
                                            {{work.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Education</mat-label>
                                    <mat-select [(ngModel)]="benchCandidates.Qualification"
                                        formControlName="Qualification" name="inputQualification"
                                        id="inputQualification">
                                        <mat-option value="High School Diploma">High School Diploma</mat-option>
                                        <mat-option value="Bachelors">Bachelors</mat-option>
                                        <mat-option value="Masters">Masters</mat-option>
                                        <mat-option value="PhD">PhD</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <cv-google-place style="display:contents;" (setAddress)="getAssignAddress($event)"
                                    (inputAddress)="inputAssignAddress($event)"
                                    selectedAddress="{{benchCandidates.Location}}" adressType="(cities)"
                                    InputMode="Edit">
                                </cv-google-place>
                            </div>

                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>LinkedIn</mat-label>
                                    <input [(ngModel)]="benchCandidates.LinkedIn" formControlName="LinkedIn" matInput
                                        name="LinkedIn">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Candidate Source</mat-label>
                                    <mat-select [(ngModel)]="benchCandidates.Source" name="skills"
                                        formControlName="cansource">
                                        <mat-option *ngFor="let rsSource of resumeSource" [value]="rsSource.SourceName">
                                            {{rsSource.SourceName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Pay Rate ($/hr)</mat-label>
                                    <input type="number" [(ngModel)]="benchCandidates.PayRate" formControlName="PayRate" matInput
                                        name="PayRate"  min="0" max="1000" oninput="validity.valid||(value='');">
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>Employment Type</mat-label>
                                    <mat-select name="EmploymentType" required formControlName="EmploymentType"
                                        id="EmploymentType" [(ngModel)]="benchCandidates.EmploymentType"
                                        (selectionChange)="onEmploymentTypeChange($event)">
                                        <mat-option [value]="'C2C'">C2C</mat-option>
                                        <mat-option [value]="'W2'">W2</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
                                    <mat-label>Availability to Start</mat-label>
                                    <mat-select name="Availability_To" id="Availability_To"
                                        formControlName="Availability_To"
                                        [(ngModel)]="benchCandidates.AvailabilityToStart">
                                        <mat-option value="Immediately">Immediately</mat-option>
                                        <mat-option value="2 Weeks from confirmation">2 Weeks from confirmation
                                        </mat-option>
                                        <mat-option value="1 Month from confirmation">1 Month from confirmation
                                        </mat-option>
                                        <mat-option value="6 weeks from confirmation"> 6 weeks from confirmation
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50" floatLabel="always">
                                    <mat-label>Technical Skills Rating</mat-label>
                                    <cv-half-star-rating [RatingType]="'TECH'"
                                        [Techrating]="benchCandidates.TechnicalSkillRating"
                                        (out_TechRating)="GetTechRating($event)"></cv-half-star-rating>
                                    <input hidden [(ngModel)]="benchCandidates.TechnicalSkillRating"
                                        formControlName="SkillRating" matInput>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50" floatLabel="always">
                                    <mat-label>Communication Skills Rating</mat-label>
                                    <cv-comm-star-rating [RatingType]="'COMM'"
                                        [Commrating]="benchCandidates.CommunicationSkillRating"
                                        (out_CommRating)="GetCommRating($event)"></cv-comm-star-rating>
                                    <input hidden [(ngModel)]="benchCandidates.CommunicationSkillRating"
                                        formControlName="CommRating" matInput>
                                </mat-form-field>
                            </div>

                            <div *ngIf="benchCandidates.EmploymentType==='C2C'">
                                <cv-candidate-sub-vendor *ngIf="benchCandidates.EmploymentType==='C2C'"
                                    [canSubvendorAccount]="cansubVClientAccount"
                                    (out_candsubvendor)="GetCandSubVendorData($event)"
                                    (formValidityChanged)="onChildFormValidityChanged($event)">
                                </cv-candidate-sub-vendor>
                            </div>

                            <cv-skills-autocomplete [existingSkills]="SelectedKwywods" (out_selectedSkills)="GetSelectedSkills($event)"></cv-skills-autocomplete> 

                            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                <mat-form-field class="example-chip-list" fxFlex="100">
                                    <mat-label>HashTags</mat-label>
                                    <mat-chip-list multiple id="chipList" [selectable]="true">
                                        <mat-chip *ngFor="let chip of hashtags" [selected]="chip.state"
                                            (click)="chip.state=!chip.state;HashTagschangeSelected('s', chip.HashTagId)">
                                            {{chip.HashTagText}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>

                        </div>
                    </form>
                    <mat-divider></mat-divider>
                    <mat-card style="padding:2px !important;">
                        <mat-card-title>
                            <div class="card-title-text pb-1 pt-1" fxLayoutGap="10">
                                <div fxLayout="row wrap">
                                    <div fxFlex="100" fxFlex.gt-xs="50" class="flex-auto pr-1"
                                        style="margin-top: -12px !important;font-size: 14px !important;">
                                        <span>Reference 1</span>
                                    </div>
                                </div>
                            </div>
                        </mat-card-title>
                        <mat-card-content>
                            <form [formGroup]="ref1FromGroup">
                                <div fxLayout="row" class="mt-4" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                    fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>First Name</mat-label>
                                        <input [ngModel]="reference1.FirstName|titlecase" formControlName="firstName"
                                            matInput name="fname" (ngModelChange)="reference1.FirstName=$event">

                                    </mat-form-field>
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Last Name</mat-label>
                                        <input [ngModel]="reference1.LastName|titlecase" formControlName="lastName"
                                            matInput name="lname" (ngModelChange)="reference1.LastName=$event">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Company</mat-label>
                                        <input [(ngModel)]="reference1.Company" formControlName="company" matInput
                                            name="lname">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Designation</mat-label>
                                        <input [(ngModel)]="reference1.Designation" formControlName="designation"
                                            matInput name="lname">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Email</mat-label>
                                        <input [(ngModel)]="reference1.Email" formControlName="email" matInput
                                            name="lname">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Phone Number</mat-label>
                                        <input [ngModel]="reference1.PhoneNumber | phoneformat"
                                            (ngModelChange)="reference1.PhoneNumber=$event"
                                            formControlName="phonenumber" matInput name="lname">
                                    </mat-form-field>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="padding:2px !important;">
                        <mat-card-title>
                            <div class="card-title-text pb-1" fxLayoutGap="10">
                                <div fxLayout="row wrap">
                                    <div fxFlex="100" fxFlex.gt-xs="50" class="flex-auto pr-1"
                                        style="margin-top: -12px !important;font-size: 14px !important;">
                                        <span>Reference 2</span>
                                    </div>
                                </div>
                            </div>
                        </mat-card-title>
                        <mat-card-content>
                            <form [formGroup]="ref2FromGroup">
                                <div fxLayout="row" class="mt-4" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                    fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>First Name</mat-label>
                                        <input [ngModel]="reference2.FirstName|titlecase" formControlName="firstName"
                                            matInput name="fname" (ngModelChange)="reference2.FirstName=$event">

                                    </mat-form-field>
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Last Name</mat-label>
                                        <input [ngModel]="reference2.LastName|titlecase" formControlName="lastName"
                                            matInput name="lname" (ngModelChange)="reference2.LastName=$event">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Company</mat-label>
                                        <input [(ngModel)]="reference2.Company" formControlName="company" matInput
                                            name="lname">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Designation</mat-label>
                                        <input [(ngModel)]="reference2.Designation" formControlName="designation"
                                            matInput name="lname">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="0">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Email</mat-label>
                                        <input [(ngModel)]="reference2.Email" formControlName="email" matInput
                                            name="lname">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                        <mat-label>Phone Number</mat-label>
                                        <input [ngModel]="reference2.PhoneNumber | phoneformat"
                                            (ngModelChange)="reference2.PhoneNumber=$event"
                                            formControlName="phonenumber" matInput name="lname">
                                    </mat-form-field>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>
</mat-dialog-content>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-footer>
    <div fxLayout="row" class="mt-4" fxLayoutAlign="end center">
        <div fxFlex="100" fxFlex.gt-xs="100" class="flex flex-col sm:flex-row" fxLayoutAlign="end">
            <button class="mr-2" mat-button type="button" (click)="clearFields()">RESET</button>
            <button color="primary"
                [disabled]="addForm.invalid || ref1FromGroup.invalid || ref2FromGroup.invalid || !c2cFormValid"
                mat-raised-button type="button" (click)="saveCandidate()">SAVE</button>
        </div>
    </div>
</mat-dialog-footer>