<div [ngClass.gt-sm]="['mr-6']" class="card overflow-auto" fxLayout="row" fxLayout.lt-md="column">

  <div class="p-gutter" fxFlex="200px" fxFlex.lt-md="auto" *ngIf="atsPages && atsPages.length>0"> 
    <h3 class="body-2 m-0">
      <ic-icon [icon]="icLayers" size="16px" inline="true" class="text-primary"></ic-icon>
      TalentCentral</h3>

    <div class="mt-6"  gdGap="16px 48px">
      <a 
         *ngFor="let page of atsPages" (click)="closeProcessMenu(page)"
         [attr.href]="page.route" style="cursor: pointer;"
         class="text-dark body-1 text-primary hover:underline trans-ease-out">{{ page.label }}</a>
    </div>
  </div>
  <div class="p-gutter" fxFlex="200px" fxFlex.lt-md="auto" *ngIf="wcPages && wcPages.length>0">
    <h3 class="body-2 m-0">
      <ic-icon [icon]="icContacts" size="16px" inline="true" class="text-primary"></ic-icon>
      WorkerCentral</h3>

    <div class="mt-6"  gdGap="16px 48px">
      <div *ngFor="let page of wcPages">
        <a *ngIf="page.id!=4 && page.id!=6" [attr.href]="page.route" (click)="closeProcessMenu(page)" style="cursor: pointer;"
        class="text-dark body-1 text-primary hover:underline  trans-ease-out">{{ page.label }}</a>
        <a *ngIf="page.id===4 || page.id===6" (click)="closeProcessMenu(page)" style="cursor: pointer;"
        class="text-dark body-1 text-primary hover:underline  trans-ease-out">{{ page.label }}</a>
      </div>
      
    </div>
  </div>
</div>

