<div fxLayout="row" fxLayoutAlign="start center" class="bg-app-bar px-6 h-16 border-b sticky left-0" mat-dialog-title>
    <div fxFlex="50%">
        <h2 class="title my-0 leading-snug text-secondary textcgs" fxFlex="auto">Update Assignment</h2>

    </div>
    <div fxFlex="50%" style="text-align: right !important;">
        <button class="text-secondary" [mat-dialog-close]="'Close'" mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content class="confirm mt-4" fxLayout="column" style="overflow: auto;">
    <mat-horizontal-stepper class="mt-4 mb-4" #stepper="matHorizontalStepper" [linear]="true">
        <mat-step>
            <form>
                <ng-template matStepLabel>Employee Information</ng-template>
                <div class="card overflow-auto"
                    style="border-top-right-radius: 0 !important;border-top-left-radius: 0 !important;">
                    <mat-card>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutGap="16px">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="70" appearance="outline">
                                    <mat-label>Search for Employee by Email</mat-label>
                                    <input [(ngModel)]="employeeSearch" [formControl]="searchtext" required
                                        cdkFocusInitial matInput name="title">
                                </mat-form-field>
                                <div fxFlex="100" fxFlex.gt-xs="30">
                                    <button [disabled]="!employeeSearch" color="primary" (click)="SearchEmployee()"
                                        mat-raised-button style="top: 17px;">
                                        <img *ngIf="isLoading" style="position: absolute;right: 0px;top: 10px;"
                                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                        <ic-icon [icIcon]="icSearch" style="position: absolute;vertical-align: middle !important;
                                        margin-top: 6px;
                                        margin-left: -17px;
                                        padding: 2px;" size="20px"></ic-icon> <span
                                            style="margin-left:10px;">Search</span>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="card overflow-auto" *ngIf="Employee.EmployeeID>0">
                    <mat-card style="padding-bottom:1px !important;">
                        <mat-card-title>
                            <div class="subheading-2 font-medium pb-1 pt-1" fxLayoutAlign="space-between stretch">
                                Employee Information</div>
                        </mat-card-title>
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div fxFlex="50%">
                                    <div class="child-1 text-secondary" fxFlex="35"><span>Employment Type:</span></div>
                                    <div class="child-2" fxFlex="65"><span>{{Employee.EmploymentType}}</span></div>
                                </div>
                                <div fxFlex="50%">
                                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">Designation:
                                    </div>
                                    <div class="child-3" fxFlex="65">
                                        <span>{{Employee.Designation}}</span>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div fxFlex="50%">
                                    <div class="child-1 text-secondary" fxFlex="35"><span>First Name:</span></div>
                                    <div class="child-2" fxFlex="65"><span>{{Employee.FirstName}}</span></div>
                                </div>
                                <div fxFlex="50%">
                                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">Last Name:</div>
                                    <div class="child-3" fxFlex="65">
                                        <span>{{Employee.LastName}}</span>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div fxFlex="50%">
                                    <div class="child-1 text-secondary" fxFlex="35"><span>Email:</span></div>
                                    <div class="child-2" fxFlex="65"><span>{{Employee.Email}}</span></div>
                                </div>
                                <div fxFlex="50%">
                                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">Phone:</div>
                                    <div class="child-3" fxFlex="65">
                                        <span>{{Employee.PrimaryPhoneNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div fxFlex="50%">
                                    <div class="child-1 text-secondary" fxFlex="35"><span>Work Permit:</span></div>
                                    <div class="child-2" fxFlex="65"><span>{{Employee.WorkStatus}}</span></div>
                                </div>
                                <div fxFlex="50%">
                                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">Work Permit
                                        Expiration:</div>
                                    <div class="child-3" fxFlex="65">
                                        <span>{{Employee.WorkStatusExpiry|date:'MM/dd/yyyy'}}</span>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card overflow-auto" *ngIf="employeeAssignment.length>0">
                    <mat-card class="mt-4">
                        <mat-card-title>
                            <div class="subheading-2 font-medium pb-1 pt-1" fxLayoutAlign="space-between stretch">
                                Assignments Information</div>
                        </mat-card-title>
                        <mat-card-content>
                            <table mat-table [dataSource]="dataSource" matSort fxFlex="100" fxFlex.gt-xs="100">
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef mat-sort-header> # </th>
                                    <td mat-cell class="text-secondary font-medium textcgs"
                                        *matCellDef="let element;let i=index"> {{element.CompanyAssignmentId}} </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef mat-sort-header>Assignment Name
                                    </th>
                                    <td mat-cell class="text-secondary font-medium textcgs" *matCellDef="let element">
                                        {{element.AssignmentName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef mat-sort-header>Assignment Type
                                    </th>
                                    <td mat-cell class="text-secondary font-medium textcgs" *matCellDef="let element">
                                        {{element.AssignmentType}}
                                         </td>
                                </ng-container>
                                <ng-container matColumnDef="classification">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef mat-sort-header>Classification </th>
                                    <td mat-cell class="text-secondary font-medium textcgs" *matCellDef="let element">
                                        {{element.AsmtClassification}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="startdate">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef mat-sort-header>Start Date </th>
                                    <td mat-cell class="text-secondary font-medium textcgs" *matCellDef="let element">
                                        {{element.StartDate|date:'MM/dd/yyyy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="enddate">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef mat-sort-header>End Date </th>
                                    <td mat-cell class="text-secondary font-medium textcgs" *matCellDef="let element">
                                        {{element.EndDate|date:'MM/dd/yyyy'}}  
                                    </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="actions">
                                    <th mat-header-cell class="uppercase" *matHeaderCellDef> Actions </th>
                                    <td mat-cell class="text-secondary font-medium textcgs"
                                        *matCellDef="let element;let i=index">
                                        <button style="top: 6px;right: 0;text-align: right;" color="primary"
                                            matTooltip="Next" mat-button>
                                            <mat-icon>send</mat-icon>
                                        </button>
                                    </td>
                                </ng-container> -->
                                <tr mat-header-row *matHeaderRowDef="empdisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: empdisplayedColumns;"
                                class="hover:bg-hover trans-ease-out cursor-pointer" (click)="AssignmentNextClick(stepper,row)"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </form>
            <div fxLayout="row" class="actions mt-4 mb-4" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button (click)="ResetClick()" type="button">Reset</button>
            </div>

        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>Assignment Information</ng-template>
            <form [formGroup]="thirdFormGroup">
                <div class="card overflow-auto"
                    style="border-top-right-radius: 0 !important;border-top-left-radius: 0 !important;">
                    <div fxLayout="row" class="fix-dis">
                        <div fxFlex="100" fxFlex.gt-xs="100">
                            <mat-card>
                                <mat-card-title>
                                    <div class="subheading-2 font-medium pb-1 pt-1" fxLayoutAlign="space-between stretch">
                                        Assignment Information</div>
                                </mat-card-title>
                                <mat-card-content>
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>ID</mat-label>
                                            <input matInput name="name" formControlName="AssignmentId" id="AssignmentId"
                                                [(ngModel)]="Assignment.CompanyAssignmentId">
                                        </mat-form-field>
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>Name</mat-label>
                                            <input matInput formControlName="Name" required id="Name" name="name"
                                                [ngModel]="Assignment.AssignmentName | titlecase"
                                                (ngModelChange)="Assignment.AssignmentName=$event">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>Type</mat-label>
                                            <mat-select name="AssignmentType" required formControlName="AssignmentType"
                                                id="AssignmentType" [(ngModel)]="Assignment.AssignmentType">
                                                <mat-option [value]="'C2C'">C2C</mat-option>
                                                <mat-option [value]="'1099'">1099</mat-option>
                                                <mat-option [value]="'W2'">W2</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>Classification</mat-label>
                                            <mat-select name="Classification" required formControlName="Classification"
                                                id="Classification" [(ngModel)]="Assignment.AsmtClassification">
                                                <mat-option [value]="'Billable'">Billable</mat-option>
                                                <mat-option [value]="'Non-Billable'">Non-Billable</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>Start Date</mat-label>
                                            <input matInput [matDatepicker]="jbexaStart" required formControlName="asmStartDate"
                                                [(ngModel)]="Assignment.StartDate" (dateChange)="changestartDate($event)" name="astartdate" id="aStartDate">
                                            <mat-datepicker-toggle matSuffix [for]="jbexaStart"></mat-datepicker-toggle>
                                            <mat-datepicker #jbexaStart></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>End Date</mat-label>
                                            <input matInput [matDatepicker]="jbexaEnd" required formControlName="asmEndDate"
                                                [(ngModel)]="Assignment.EndDate" (dateChange)="changeendDate($event)" name="aenddate" placeholder="End Date"
                                                id="EandDate">
                                            <mat-datepicker-toggle matSuffix [for]="jbexaEnd"></mat-datepicker-toggle>
                                            <mat-datepicker #jbexaEnd></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="16px">
        
                                        <div fxFlex="100" fxFlex.gt-xs="50" class="flex-auto">
                                            <cv-google-place style="display:contents;" (setAddress)="getAssignAddress($event)"
                                                (inputAddress)="inputAssignEmployeeAddress($event)" disable="false"
                                                selectedAddress="{{Assignment.WLAddress1}}" adressType="address"
                                                InputMode="Edit-WC"></cv-google-place>
                                        </div>
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>Apt, Suite, Unit, Building, Floor, etc.</mat-label>
                                            <input matInput name="name" formControlName="WLAddress2" id="WLAddress2"
                                                [(ngModel)]="Assignment.WLAddress2">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>State</mat-label>
                                            <input matInput name="name" required formControlName="WLState" id="WLState"
                                                [(ngModel)]="Assignment.WLState">
                                        </mat-form-field>
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="50" >
                                            <mat-label>City</mat-label>
                                            <input matInput name="name" required formControlName="WLCity" id="WLCity"
                                                [(ngModel)]="Assignment.WLCity">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="100" >
                                            <mat-label>Zip Code</mat-label>
                                            <input matInput name="name" (keypress)="onInputKeyPress($event)" maxlength="5"
                                                required formControlName="WLZipCode" id="WLZipCode"
                                                [(ngModel)]="Assignment.WLZipCode">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <section style="padding: 20px 0px;clear: both;" fxFlex="100" fxFlex.gt-xs="25">
                                            <mat-checkbox id="checkbill" formControlName="TimeSheet" id="TimeSheet"
                                                [(ngModel)]="Assignment.TimeSheet">Enable Timesheet
                                            </mat-checkbox>
                                        </section>
                                        <section style="padding: 20px 0px;clear: both;" fxFlex="100" fxFlex.gt-xs="25">
                                            <mat-checkbox id="checkbill" formControlName="RemoteAssignment"
                                                id="RemoteAssignment" [(ngModel)]="Assignment.RemoteAssignment">Remote
                                                Assignment</mat-checkbox>
                                        </section>
                                        <section style="padding: 20px 0px;clear: both;" fxFlex="100" fxFlex.gt-xs="25">
                                            <mat-checkbox id="checkbill" formControlName="AmendmentRequired"
                                                id="AmendmentRequired" [(ngModel)]="Assignment.AmendmentRequired">Amendment
                                                Required</mat-checkbox>
                                        </section>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </form>
            <div fxLayout="row" class="actions mt-4 mb-4" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">Back</button>
                <button color="primary" [disabled]="thirdFormGroup.invalid" (click)="NextClick(stepper)"
                    mat-raised-button>NEXT
                </button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Review Assignment</ng-template>
            <div class="card overflow-auto"
                style="border-top-right-radius: 0 !important;border-top-left-radius: 0 !important;">
                <mat-card class="mt-4">
                    <mat-card-content>
                        <mat-divider></mat-divider>
            <div class="flex-container" fxLayout="row">
                <div fxFlex="50%">
                    <div class="child-1 text-secondary" fxFlex="35"><span>ID:</span></div>
                    <div class="child-2" fxFlex="65">
                        <span>{{Assignment.CompanyAssignmentId}}</span>
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">Name:</div>
                    <div class="child-3" fxFlex="65">
                        <span>{{Assignment.AssignmentName}}</span>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex-container" fxLayout="row">
                <div fxFlex="50%">
                    <div class="child-1 text-secondary" fxFlex="35"><span>Type:</span></div>
                    <div class="child-2" fxFlex="65">
                        <span class="pb-0 pt-0"
                            class="rounded-full text-secondary font-medium text-xs categorybtn">{{Assignment.AssignmentType}}</span>
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">Classification:</div>
                    <div class="child-3" fxFlex="65">
                        <span class="pb-0 pt-0"
                            class="rounded-full text-secondary font-medium text-xs categorybtn">{{Assignment.AsmtClassification}}</span>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex-container" fxLayout="row">
                <div fxFlex="50%">
                    <div class="child-1 text-secondary" fxFlex="35"><span>Start Date:</span></div>
                    <div class="child-2" fxFlex="65">
                        <span>{{Assignment.StartDate|date:'MM/dd/yyyy'}}</span>
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="child-3 text-secondary" fxFlex="35" id="middlebuttons1">End Date:</div>
                    <div class="child-3" fxFlex="65">
                        <span>{{Assignment.EndDate|date:'MM/dd/yyyy'}}</span>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex-container" fxLayout="row">
                <div fxFlex="100%">
                    <div class="child-1 mt-1 text-secondary" fxFlex="17"><span>Address:</span></div>
                    <div class="child-2 ml-2" fxFlex="80" >
                        <span class="rounded-full text-secondary font-medium locationbtn">
                            <ic-icon [icon]="iclocationon" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                                size="14px">
                            </ic-icon>
                            <span>{{Assignment.WLAddress1}},{{Assignment.WLAddress2}}, {{Assignment.WLCity}},
                                {{Assignment.WLState}}, {{Assignment.WLZipCode}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex-container" fxLayout="row">
                <div fxFlex="34%">
                    <div class="child-1 text-secondary" fxFlex="52"><span>Enable Timesheet:</span></div>
                    <div class="child-2" fxFlex="48">
                        <div *ngIf="Assignment.TimeSheet"
                            [ngClass]="{ 'bg-green text-contrast-white': Assignment.TimeSheet }"
                            class="box bg-app-bar text-secondary rounded caption Activetag" style="width: 80px;text-align:center;">
                            <span class="box-text">Enabled</span>
                        </div>
                        <div *ngIf="!Assignment.TimeSheet"
                            [ngClass]="{ 'bg-green text-contrast-white': Assignment.TimeSheet }"
                            class="box bg-app-bar text-secondary rounded caption Activetag" style="text-align:center">
                            <span class="box-text">Not Enabled</span>
                        </div>
                    </div>
                </div>
                <div fxFlex="33%">
                    <div class="child-3 text-secondary" fxFlex="55" id="middlebuttons1">Remote Assignment:</div>
                    <div class="child-3" fxFlex="45">
                        <div [ngClass]="{ 'bg-green text-contrast-white': Assignment.RemoteAssignment }"
                            class="box bg-app-bar text-secondary rounded caption Activetag" style="width: 80px;text-align:center;">
                            <span class="box-text uppercase">{{Assignment.RemoteAssignment}}</span>
                        </div>
                    </div>
                   
                </div>
                <div fxFlex="33%">
                    <div class="child-3 text-secondary" fxFlex="65" id="middlebuttons1">Amendment Required:</div>
                    <div class="child-3" fxFlex="35">
                        <div [ngClass]="{ 'bg-green text-contrast-white': Assignment.AmendmentRequired }"
                            class="box bg-app-bar text-secondary rounded caption Activetag" style="width: 80px;text-align:center;">
                            <span class="box-text uppercase">{{Assignment.AmendmentRequired}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
                    </mat-card-content>
                </mat-card>


            </div>

            <div fxLayout="row" class="actions mt-4 mb-4" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">Back</button>
                <button color="primary" mat-raised-button (click)="saveAssignment()">
                    <img *ngIf="isLoading" style="position: absolute;right: 0px;top: 10px;"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                    Submit
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>