<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs mt-20">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <a routerLink="/"><img class="w-40" src="assets/img/demo/consultvite_logo.png"> </a>
      </div>
    </div>

      <div class="text-center mt-4">
        <h2 class="title m-0">Reset Password</h2>
        <h4 class="body-2 text-secondary m-0">Enter new password to reset.</h4>
      </div>

      <div [formGroup]="form" class="p-6 flex flex-col">
        <mat-form-field fxFlex="grow">
          <mat-label>New Password</mat-label>
          <input type="password" formControlName="NewPassword" matInput required>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Confirm Password</mat-label>
          <input type="password" formControlName="ConfirmPassword" matInput required>
        </mat-form-field>

        <button (click)="submit()" class="mt-2" color="primary" mat-raised-button type="button" [disabled]="!form.valid">
          SUBMIT
        </button>
      </div>
  </div>
</div>
