<vex-page-layout>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav class="mat-sidenav-fixed" #activitylog mode="over" hasBackdrop="true" position="end">
      <div fxLayout="column" *ngIf="selectedEmployeeId">
        <div  class="p-3 cursor-pointer bg-primary text-primary-contrast" fxFlex="none"
        style="margin-top:60px">
        <h2 class="subheading-2 font-medium m-0 select-none" fxFlex="none">Activity Logs</h2>
        <span fxFlex></span>
        <a (click)="OnActiviyLogclose()"
          class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary-contrast bg-primary-contrast"
          mat-icon-button>
          <mat-icon [icIcon]="iconService.icClose" size="18px"></mat-icon>
        </a>
      </div>
        <mat-divider></mat-divider>
        <div class="MsgList" id="wallmessages" *ngIf="ActivityLogs.length>0">
          <div class="MsgItem" *ngFor="let logitem of ActivityLogs; let index = index">
              <div class="MsgIn">
                  <div class="message-head clearfix">
                      <div class="user-detail">

                          <div class="msg-date">{{logitem.CreatedDate}} </div>
                          <div class="msg-by">by {{logitem.CreatedBy}}</div>
                          <div class="msg-content" [innerHtml] = "logitem.Action"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </mat-sidenav>
  </mat-sidenav-container>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
      <div [class.px-gutter]="'fullwidth'" class="w-full flex flex-col sm:flex-row justify-between">
        <div>
          <h1 class="title mt-0 mb-1">Workers</h1>
          <vex-breadcrumbs [crumbs]="['WorkerCentral','Employees']"></vex-breadcrumbs>
        </div>
      </div>
    </vex-page-layout-header>
    <vex-page-layout-content [class.px-gutter]="'fullwidth'" class="-mt-6">
      <div class="card overflow-auto -mt-16 mb-10">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
          <div class="ml-1 mr-2">
            <mat-icon [fontIcon]="filteredIcons" class="icon" fontSet="fa" height="16px" width="16px" style="color: #757a7f;font-size: 16px;margin-top: 5px;"></mat-icon>
        </div>
          <div class="bg-card rounded-full border px-4 searchCtrl" fxFlex="359px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
            fxLayoutAlign="start center">
            <ic-icon [icIcon]="iconService.icSearch" size="20px"></ic-icon>
            <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
              placeholder="Search..." type="search">
          </div>
          <div class="ml-4">Status</div>
          <div  class="bg-card  border  ml-2" style="width: 120px;border-radius: 4px;">
            <button mat-button [matMenuTriggerFor]="statusMenu" fxFlex="auto" color="primary">
             {{selectedStatus}}  <mat-icon>expand_more</mat-icon>
            </button>
          </div>
  
          <span fxFlex></span>
  
          <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
            <mat-icon [icIcon]="iconService.icSearch"></mat-icon>
          </button>
          <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon [icIcon]="iconService.icFilterList"></mat-icon>
        </button>
          <button *ngxPermissionsOnly="['ACTION_WORKERS_ADD']" (click)="AddEmployee()" class="ml-4" color="primary" fxFlex="none" mat-mini-fab
            matTooltip="Add Worker" type="button">
            <mat-icon [icIcon]="iconService.icAdd"></mat-icon>
          </button>
  
        </div>
        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort (matSortChange)="sortData($event)">
  
          <!-- Text Columns -->
          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                <span matTooltip="{{row[column.property]}}">{{ row[column.property] | shorten:20 }}</span>
              </td>
            </ng-container>
          </ng-container>

          <ng-container matColumnDef="WorkerName">
            <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>WORKER NAME</th>
            <td *matCellDef="let row" mat-cell>
              <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                <span>{{ row?.LastName }}, {{ row?.FirstName }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="WorkStatus">
            <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>WORK PERMIT</th>
            <td *matCellDef="let row" mat-cell>
              <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                <span class="rounded-full text-secondary font-medium text-xs categorybtn">
                  <span>{{row['WorkStatus']}}</span>
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="WorkStatusExpiry">
            <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>WORK PERMIT EXP</th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              <span class="rounded-full text-secondary font-medium">
                <span [ngClass]="{'back-red':row.WSExpiryPriority===1,
                'back-orange':row.WSExpiryPriority===2,
                 'back-yellow':row.WSExpiryPriority===3,
                 'back-normal':row.WSExpiryPriority===4}">{{row['WorkStatusExpiry']}}</span>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="I94ExpiryDate">
            <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header>I94 EXPIRY</th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              <span class="rounded-full text-secondary font-medium">
                <span [ngClass]="{'back-red':row.I94ExpiryPriority===1,
                'back-orange':row.I94ExpiryPriority===2,
                 'back-yellow':row.I94ExpiryPriority===3,
                 'back-normal':row.I94ExpiryPriority===4}">{{row['I94ExpiryDate']}}</span>
              </span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="StatusName">
            <th *matHeaderCellDef class="uppercase th-text-bold" mat-header-cell mat-sort-header> status</th>
            <td *matCellDef="let row" mat-cell>
              <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                <span *ngIf="row['Status']==1" class="rounded px-2 py-1 font-medium text-xs text-green bg-green-light">
                  Active
                </span>
                <span *ngIf="row['Status']==2" class="rounded px-2 py-1 font-medium text-xs text-gray bg-gray-light">
                  Inactive
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="EmploymentType">
            <th *matHeaderCellDef class="uppercase  th-text-bold" mat-header-cell mat-sort-header> TYPE</th>
            <td *matCellDef="let row" mat-cell>
              <div (click)="$event.stopPropagation()" fxLayoutAlign="center center" fxLayoutGap="4px" >
                  <span class="rounded-full text-secondary font-medium text-xs categorybtn">{{row['EmploymentType']}}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="WebsiteUser">
            <th *matHeaderCellDef class="uppercase  th-text-bold" mat-header-cell mat-sort-header>CV Website</th>
            <td *matCellDef="let row" mat-cell>
              <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                <span *ngIf="row['WebsiteUser']!=null" class="rounded px-2 py-1 font-medium text-xs text-green bg-green-light">
                  Active
                </span>
                <span *ngIf="row['WebsiteUser']==null" class="rounded px-2 py-1 font-medium text-xs text-gray bg-gray-light">
                  Inactive
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell class="th-text-bold">ACTIVITY</th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <div class="flex">
              <a (click)="$event.stopPropagation();ViewLogs(row)"
              class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
              mat-icon-button>
              <mat-icon [icIcon]="iconService.icFormattedList" size="16px" matTooltip="Activity Logs"></mat-icon>
            </a>
              </div>
             
            </td>
          </ng-container>
          
          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr  *matRowDef="let row; columns: visibleColumns;" @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer" mat-row (click)="viewEmployee(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>
  
  
  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
      class="checkbox-item mat-menu-item">
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </mat-menu>

  <mat-menu #statusMenu="matMenu">
    <button mat-menu-item (click)="filterStatus(0)">
      <span>All</span>
    </button>
    <button mat-menu-item (click)="filterStatus(1)">
      <span>Active</span>
    </button>
    <button mat-menu-item (click)="filterStatus(2)">
      <span>Inactive</span>
    </button>
  </mat-menu>
  
