
  .mat-toogle-grp{
    border-radius: 20px !important;
    margin: 10px;
  }

  ::ng-deep cv-archived-responses  .mat-button-toggle-checked {
    background-color: rgba(var(--color-primary));
    color:white !important;
}

  ::ng-deep cv-archived-responses .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 40px !important;
}